{% extends 'base.html' %}
{% block title %}eCommerceApp_ResetPassword{% endblock title%}
{% block heroSection %}{% endblock heroSection %}

{% block body %}
<section id="contact" class="contact">
    <div class="container">
        <div class="section-title" data-aos="fade-up" data-aos-delay="400">
            <br />
            <div class="row">
                <div class="col-md-4">
                    <h1 data-aos="fade-up" data-aos-delay="400">Reset Your Password</h1>
                    <br />
                    <div class="container" data-aos="fade-up" data-aos-delay="400">

                        <!-- alert message -->
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert"
                            data-aos="fade-up" data-aos-delay="400">
                            <strong></strong> {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        <!-- alert message -->

                        <form action="{% url 'changePasswordPage' %}" method="post" role="form" data-aos="fade-up"
                            data-aos-delay="400">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                    required />
                            </div>
                            <br />
                            <button onclick="messageAlert()" class="btn" type="submit">Send</button>
                            <br />
                            <br />
                            <a href="{% url 'loginPage' %}">Go back?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function messageAlert() {
            alert("Send verification?");
        }
    </script>
</section>

{% endblock body %}